@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 15px;
}

body {
    background-color:beige;
}

header {
    background-color:antiquewhite;
    color: aliceblue;
}

.nav-izquierda {
    display: flex;
    justify-content:space-between;
    align-items:center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5%;
    padding-right: 30%;
    font-weight: bold;
}

ul li{
    display: inline-block;
    padding: 10px 10px 5px 5px;
}

a{
    color:black;
    text-decoration: none;
}

a:hover{
    color: coral;
}