.inicio {
    text-align: center;
    padding: 3rem 1rem;
    background-color: #f1f1f1; /* Fondo claro para destacar la bienvenida */
}

.inicio h1 {
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 0.5rem;
}

.inicio h3 {
    font-size: 1.5rem;
    color: #666;
}